DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable"
MIGRATION_DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable"
SHADOW_DATABASE_URL="postgres://postgres:postgres@localhost:51215/template1?sslmode=disable"
SESSION_SECRET="replace-with-at-least-32-random-characters"
MOCK_PAY_ENABLED="true"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
